* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;


}

.ota {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: end;
    gap: 25px;
    list-style-type: none;
    text-align: end;

}

.box {
    display: flex;
    justify-content: space-between;
}

.a {
    text-decoration: none;
    color: black;
}

.m {
    margin-left: 50px;
    margin-top: 100px;
}

.mm {
    margin-left: 50px;
    margin-top: 1px;
}

.mmm {
    width: 400px;
    margin-left: 1000px;
    text-align: justify;
}

.mmmm {
    text-align: center;
    margin-right: 50px;
}

.mmmmm {
    text-align: center;
}

.card {
    max-width: 380px;
    padding: 28px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #E7E7E7;
    border-radius: 10px;
    background-color: #5A98F2;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.tex {
    max-width: 380px;
    padding: 28px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #E7E7E7;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.tex1 {
    max-width: 380px;
    padding: 28px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #E7E7E7;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.tex2 {
    max-width: 380px;
    padding: 28px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #E7E7E7;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.tex3 {
    max-width: 380px;
    padding: 28px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #E7E7E7;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.tex4 {
    max-width: 380px;
    padding: 28px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #E7E7E7;
    border-radius: 10px;
    background-color: #E7E7E7;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.nn {
    width: 200px;
    margin-left: 639px;
    height: 56px;
    border-radius: 55px;
    border: 1px;
    background-color: bisque;
    margin-top: 10px;
}

.nnn {
    margin-left: 50px;
    margin-top: 50px;
    color: #5A98F2;
}

.gg {
    margin-left: 680px;
}

.mars {
    margin-top: 100px;
}

.it {
    text-align: center;
}

.mart {
    text-align: center;
}

.aprel {
    width: 200px;
    margin-left: 639px;
    height: 56px;
    border-radius: 55px;
    border: 1px;
    background-color: bisque;
    margin-top: 10px;
}
.kit{
    margin-left: 50px;
    color: #5A98F2;
}
.multi{
    margin-left: 100px;
}
.lip{
        width: 200px;
    margin-left: 639px;
    height: 56px;
    border-radius: 55px;
    border: 1px;
    background-color: bisque;
    margin-top: 10px;
}
.lipp{
       margin-left: 60px;
    color: #5A98F2;
}
.fyu{
    margin-left: 50px;
    margin-top: 50px;
}
.sss{
    margin-top: 100px;
    margin-left: 100px;
}
.noote{
    margin-left: 200px;
    margin-bottom: 50px;
}